<!DOCTYPE html>
<html lang="en">
  <head>
    <h1><%= title %> </h1>
  </head>
  <body>
   <title><%= title %> </title>
   <a href="/new">Add New Trip</a>      
    <h2>Destination: <%= trip.title %> </h2>    
    <p>Departure Date: <%= trip.departure_date %> </p>
    <p>Return Date: <%= trip.return_date %> </p>
    
    
    
  </body>
</html>